.banner{
    padding: $gutter;
    &--grey{
        background: #555;
    }
    &__link{
        display: block;                
    }
    &--patreon{                
        font-size: 1.1em;        
    }
}

@media screen and (min-width: 800px){
    .banner{
        padding: $gutter*2;
    }
}