*{
    padding: 0px;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a{
    color: #fff;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

html, body{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background: url(/assets/images/bg.png) #222 center;
}

body{
    line-height: 1.6;
    font-family: sans-serif;
    font-size: 1em;
    color: #fff;
}

h1, h2, h3{
    // letter-spacing: -1px;
    line-height: 1.6;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

p{
    font-size: 1.1em;
}

img{
    width: 100%;
    height: auto;
}

[v-cloak]{
    display: none;
}

.patroen--soft{    
    color: #aaa;
    text-decoration: underline;
    display: inline-block;
    padding-top: $gutter;
    &:hover{
        text-decoration: none;
    }
}
