.heroes{
    &__hero{
        &__content{
            padding: $gutter;
            &__title{
                padding-bottom: $gutter;
            }
            &__description{
                // display: none;
            }
        }
    }
}

@media screen and (min-width: 800px){
    .heroes{
        &__hero{
            text-align: left;
            margin: auto;
            &__content{
                padding: $gutter*2;     
            }
        }
    }
}