.list{
    &__item{
        display: block;
        padding: $gutter;
        border-bottom: solid 1px #000;
        border-top: solid 1px #555;
        text-decoration: none;
        &__title{
            font-weight: bold;
        }
        &__image{
            display: none;
        }
        &__episode{            
            font-weight: bold;
        }
        &__description{
            display: none;
        }
    }

}

@media screen and (min-width: 800px){
    .list{
        overflow: hidden;        
        &__item{
            float: left;
            width: 33.33%;
            padding: $gutter*2;
            border: 0px;
            &:nth-child(3n+1){
                clear:left; 
            }
            &__image{
                display: block;
            }
        }
    }    
}