.section{ 
    text-align: center;   
    &--black{
        background: #000;
    }
    &__inner{
        text-align: left;
        max-width: 1200px;
        margin: auto;
    }
}

@media screen and (min-width: 1200px){
    .section{
        padding-top: 4*$gutter;
        padding-bottom: 4*$gutter;
    }
}