.subscribe{    
    // top: 0px;
    // right: 0px;
    background: rgba(0,0,0,.5);
    width: 100%;
    float: right;
    overflow: hidden;
    text-align: right;
    h3{
        margin-bottom: 10px; 
    }
    &__link{
        display: block;
        float: right;
        line-height: $H;
        padding: 0 12px;
        color:#fff;             
        text-align: center;
        text-decoration: none;

        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        
        &--service{
            font-size: 1.2em;
            width: $H;
            padding: 0px;
        }
        &--soundcloud{
            background: #ff7700;
        }
        &--mixcloud{
            background: #52aad8;
        }
        &--youtube{
            background: #FF0000;
        }  
        &--rss{
            background: #f26522;
        } 
        &--itunes{
            background: #111;
        }       
    }    
}

.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    // max-width: 800px;
    overflow: hidden;  
    background: #D0021B;  
}