---
---

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header{

}

.hero{
    &__image{
        width: 100%;
        height: auto;
    }
    &__brand{
        margin: 20px;
        margin-top: -57px;
    }
}

.brand{
    display: inline-block;
    padding: 10px;
    background: #fff;       
    &__image{
        width: 100%;
        max-width: 220px;
        height: auto;
    }
}

.ratio{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    &__inner{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.main{    
    h1{
        font-size: 2em;
        letter-spacing: -2px;
        margin-bottom: 20px;
        font-weight: bold;
    }   
}

.section{
    // padding: 20px;
}

.footer{    
    background: #111;
    color: #ccc;
    a{
        color: #ccc;
    }
}


