<!DOCTYPE html>
<html lang="en-GB" class="html ">
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <title>P/O/D/C/A/S/T</title>
        <link rel="stylesheet" href="/assets/main.css">        
    </head>
    <body>
        <!-- <header class="header">
            <img class="hero__image" src="/assets/images/ezgif-kk.gif">
        </header> -->
        <main class="section main">            
            <div class="ratio">
                <iframe class="ratio__inner" src="https://www.youtube.com/embed/aFqg4Wiy1bY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </main>
        <!-- <footer class="section footer">
            Site by <a href="https://beat.rehab">Beat Rehab</a>
        </footer> -->
    </body>    
</html>